[submodule "getdatatestbed"]
	path = getdatatestbed
	url = git@bitbucket.org:SBFRF/getdatatestbed.git
[submodule "prepdata"]
	path = prepdata
	url = git@bitbucket.org:SBFRF/prepdata.git
[submodule "testbedutils"]
	path = testbedutils
	url = git@bitbucket.org:SBFRF/testbedutils.git
[submodule "scaleCinterp_python"]
	path = scaleCinterp_python
	url = git@github.com:SBFRF/scaleCinterp_python.git
