utm==0.4.2
statsmodels==0.9.0
pandas==0.23.4
matplotlib==2.2.3
pytz==2018.5
setuptools==40.2.0
pyproj==1.9.5.1
tqdm==4.26.0
scipy==1.2.1
scikit_image==0.14.0
opencv_python==4.1.0.25
numpy==1.16.4
Pillow==6.1.0
python_dateutil==2.8.0
imageio==2.5.0
netCDF4<=1.5
skimage==0.0
PyYAML==5.1.1
